<h2>Find out what groups really want.</h2>
<div>
	Delfy is a suggestion network that makes community members’ voices matter more, and helps leaders understand what their communities truly need.
	<ul>
		<li><strong>Easy</strong> (and kind of fun) - make your voice heard from anywhere, anytime, in 5 minutes.</li>
		<li><strong>Consensus</strong>, at last? - network magic helps turn a mountain of community feedback into clear consensus about the issues the community most wants action on.</li>
	</ul>
</div>