<h2>How it works</h2>
<div>
	<strong>For Community Leaders:</strong> 
	<ul>
		<li>Create communities</li>
		<li>Invite your communities' members</li>
		<li>Respond to their top issues</li>
	</ul>
    <strong>Community Members:</strong> 
    <ul>
    	<li>Sign up and join communities</li>
    	<li>Vote on suggestions and make your own</li>
    	<li>Watch how community leaders respond</li>
    </ul>
</div>