<h2>Why Delfy</h2>
<div>
    <p>
    	<strong>Big communities are often bad at responding to feedback from their members</strong>—just take a look at any city or state legislature, big company, or organization, to get sense of how ineffective we are at helping leaders respond efficiently and quickly to feedback from their whole communities. When leaders can't tell accurately what the whole community wants most (and the community can't tell them either), they don't make the needed changes. <strong>When community members see leaders not solving their biggest problems, they get disallusioned with the process</strong>, and the entire community becomes less happy and active.
	</p>
	<p>
    	<strong>With a tool like Delfy</strong>, we may be able to clearly show leaders their communities' biggest needs, because participation Delfy is so easy, and the effect of online networks can so powerfully transform tons of feedback into clear consensus top issues. Armed with faster, better information, <strong>leaders may be able to consistently respond to their communities' most urgent problems, showing community members that the process is working and giving them a great reason to stay more engaged.</strong>
	</p>
</div>