<h1>Delfy</h1>

<p>Hi <%= @user.name %>,</p>

<p>
	Your membership in the Delfy community <%= @community.name %> 
	has been removed by the community leadership.
	Here is the reason they gave:
</p>

<p>
	"<%= @reason %>"
</p>