/* line 8, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/communities.scss */
.community-index {
  margin-left: 20px;
}

/* line 12, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/communities.scss */
input[type=radio]:not(old) + label {
  display: inline-block;
  margin-left: -28px;
  padding-left: 28px;
  background: url("/assets/ic_radio_button_unchecked_black_24dp_1x.png") no-repeat 0 0;
  line-height: 24px;
}

/* line 20, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/communities.scss */
input[type=radio]:not(old):checked + label {
  background: url("/assets/ic_radio_button_checked_black_24dp_1x.png") no-repeat 0 0;
}
/* line 5, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/static_pages.scss */
.login-links {
  margin-left: 20px;
}

/* line 9, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/static_pages.scss */
.title {
  margin-left: 20px;
}
/* line 5, /mnt/d/DocumentsD/Programming/EzraWeller/RailsApps/Delfy/app/assets/stylesheets/users.scss */
.user-index {
  margin-left: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *



 */

/* universal */


html, body {
	background: #D4EAD1;
	-ms-text-size-adjust: none;
  	-moz-text-size-adjust: none;
  	-o-text-size-adjust: none;
 	-webkit-text-size-adjust: none;
 	padding: 0px;
 	margin: 0px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica', sans-serif;
}



@media (max-width: 720px) {

	.main {
		display: flex;
		flex-direction: column;
		background: #D4EAD1;
		margin: 0px;	
	}

	.feed {
		border-top: 3px solid white;
		background: #D4EAD1;
		padding-left: 15px;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: left;
		background: #D4EAD1;
		padding: 0px 0px 25px 15px;
		margin: 0px;
	}

	#user_chunk {
		width: 80%;
	}

	.header {
		display: flex;
		flex-direction: column;
		background: #5AD048;
		padding-bottom: 5px;
		color: white;
	}

	.top-nav {
		display: flex;
		flex-direction: column;
		justify-content: left;
		align-items: left;
		width: auto;
		padding-left: 15px;
	}

	.top-nav > div {
		padding-bottom: 10px;
	}

	#community_selector {
		display: flex;
		flex-direction: column;
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 15px;
		padding: 0px;
	}
}


@media (min-width: 721px) {
	.header {
		display: flex;
		flex-direction: row;
		background: #5AD048;
		z-index: 1;
		height: 50px;
		color: white;
	}
	.main {
		display: flex;
		flex-direction: row;
		background: #D4EAD1;
		position: absolute;
		width: 100%;
		min-height: 100%;
		top: 50px;
	}

	.feed {
		background: #D4EAD1;
		width: 100%;
		padding-left: 15px;
		border-left: 3px solid white;
	}

	.sidebar {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: left;
		background: #D4EAD1;
		width: 400px;
		padding: 0px 15px 0px 15px;
	}

	#user_chunk {
		width: 100%;
	}

	.top-nav {
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
		width: 100%;
		padding-left: 15px;
	}

	.logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 430px;
		margin-left: 15px;
	}
}

#community_feed {
	width: 100%;
	padding-bottom: 20px;
}

.user-page, 
.community-page, 
.user-ideas-page, 
.community-admin-page,
.forgot_password,
.reset_password,
.invite-confirm,
.community-user-list,
.new_user,
.new_community,
.new_session,
.about-page,
.new_activation_email {
	margin-left: 20px;
	margin-right: 10px;
}

.new_activation_email {
	margin-top: 10px;
}

.user-ideas-feed {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.user-ideas-feed > div {
	padding-right: 20px;
}

a {
	color: #EA1BB1;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a.mouse-over-guide:hover {
	text-decoration: none;
}

strong, .leader-message {
	color: #1A9407;
}

.columns {
	display: flex;
	flex-direction: row;
}

.columns > div {
	padding-right: 30px;
}

/* forms */

form {
	display: flex;
	flex-direction: column;
}

form > p {
	display: flex;
}

form > p > input[type=submit] {
	margin-left: 5px;
}

form.new_branch_idea {
	margin-bottom: 20px;
}

textarea {
	font-family: Helvetica;
	font-size: 15px;
	width: 80%;
	height: 60px;
	padding: 2px 18px 2px 2px;
	margin-top: 5px;
	border-radius: 0px;
	color: #1A9407;
}

.idea-form {
	margin-bottom: 20px;
}

.new_activation_form {
	margin-top: 20px;
}

.new_user            > input, 
.new_community       > input,
.edit_community      > input,
.new_session         > input,
.edit_user           > input,
.new_membership      > input,
.edit_membership     > input,
.new_invitations     > input,
.new_reset           > input,
.new_leader_message  > input,
.field_with_errors   > input,
.new_activation_form > form > input {
	width: 40%;
	margin: 5px 0px 10px 0px;
}

.new_community      > textarea,
.edit_community     > textarea,
.new_invitations    > textarea,
.new_leader_message > textarea {
	width: 40%;
	height: 100px;
}

.new_activation_form > form > input[type=submit] {
	width: 220px;
}

.new_user > input[type=submit] {
	width: 160px;
}

.new_community > input[type=submit] {
	width: 180px;
}

.edit_community > input[type=submit] {
	width: 220px;
}

.new_session > input[type=submit] {
	width: 100px;
}

.user-info input[type=submit] {
	width: 220px;
}

.new_invitations > input[type=submit] {
	width: 80px;
}

.send_invitations > input[type=submit] {
	width: 100px;
}

.new_reset > input[type=submit] {
	width: 80px;
}

.new_reset > input[type=email] {
	width: 220px;
}

@media (max-width: 720px) {
	.new_leader_message > input[type=submit] {
		width: 240px;
	}
}

@media (min-width: 721px) {
	.new_leader_message > input[type=submit] {
		width: 240px;
		margin-top: -0.7em;
	}
}

label[for="community_membership_setting"] {
	margin-top: 10px;
}

input[type=radio] {
	width   : 28px;
 	margin  : 0;
 	padding : 0;
	opacity : 0;
}

input[type=submit] {
	-webkit-appearance: none;
	cursor: pointer;
}

.char-count {
	color: #1A9407;
	margin: 0.1em 0 0 1.1em;
	opacity: 0.5;
	text-align: right;
}

.idea.char-count {
	width: 80%;
}

.branch.char-count {
	width: 70%;
}

.leader.char-count {
	width: 40%;
}

/* buttons */

@media (max-width: 720px) {
	.community-select-button-div {
		float: left;
		margin: 5px 5px 5px 5px;
		width: auto;
	}

	.sort-buttons {
		display: flex;
		flex-direction: column;
		margin-bottom: -1em;
	}

	#community_selector {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-left: -3px;
	}

	.dropdown-communities {
		top: 279px;
	}
}

@media (min-width: 721px) {
	.community-select-button-div {
		float: left;
		width: auto;
		margin: 5px 5px 5px 5px;
	}

	.sort-buttons {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: -1em;
	}

	#community_selector {
		display: flex;
		flex-direction: row;
	}

	.dropdown-communities {
		top: 42px;
	}
}

:focus {
    outline-color: #1A9407;
}

.dropdown-communities {
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	z-index: 2;
	background: white;
}

#community-dropdown {
	display: flex;
	flex-direction: column;
}

.dropdown-communities > .community-select-button-div {
	margin: 1px 0px 1px 0px;
}

.dropdown-communities > .community-select-button-div > .community-select-button {
	width: 100%;
}

.dropdown-communities > .community-select-button-div > .community-select-button > input {
	display: flex;
	justify-content: flex-start;
}

#more-communities {
	height: 34px;
}

input, div.community-select-button {
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	background-color: white;
	border: none;
	border-radius: 0px;
	padding: 5px 10px 5px 10px;
	color: #1A9407;
}

.new_idea > input {
	margin-top: 10px;
	width: 50px;
	color: #1A9407;
}

.new_branch_idea > input {
	margin-top: 10px;
	margin-bottom: 15px;
	width: 50px;
	color: #1A9407;
}

textarea#branch_idea_content {
	width: 70%;
}

.edit_membership > input {
	width: 140px;
}

.new_membership > input {
	width: 80px;
}

div.community-select-button {
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.community-select-button input {
	color: #1A9407;
	height: 34px;
	width: auto;
}

.vote-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branch-bottom > .vote-button, .root-bottom > .vote-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 80px;
}

.vote-count {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 140px;
	margin: 0px;
}

.vote-button button {
	background: none;
	width: 42px;
	height: 36px;
	border: 0px solid black;
	outline: 0px solid;
	border-radius: 15px;
	cursor: pointer;
}

.vote-button button[disabled="disabled"] {
	cursor: default;
}


div.vote-count {
	margin-left: 15px;
}

.sort-buttons-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sort-branch-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.sort-button {
	float: left;
	width: auto;
	padding: 0px 5px 0px 5px;
}

.sort-button input {
	color: #1A9407;
}

input.disabled, input[disabled] {
	-webkit-appearance: none;
	-moz-appearance: none;
	color: black;
	outline: 2px solid black;
	opacity: 1.0;
	border: none;
	background: white;
}

input#user_old_password {
	width: 200px;
}

.post-with-guide {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: -0.7em;
}

/* icons/special visuals */

.material-icons {
	color: #1A9407;
}

.mouse-over-guide {
	font-size: 12px;
	margin-left: 5px;
	cursor: help;
	position: relative;
}

.tooltip {
	display: none;
	color: black;
	background-color: white;
	z-index: 1;
	border: 1px solid black;

}

.tooltip > ul{
	padding-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.mouse-over-guide:hover .tooltip {
	display: block;
	position: absolute;
	width: 270px;
	left: 95%;
	top: -200%;
}

/* footer */

footer {

}

/* ideas */

.branches {
	margin-left: 50px;
	font-size: 13px;
}

.voted-for {
	box-shadow: 0px 0px 0px 4px #5AD048;
	/*  outline: 4px solid #5AD048;  */
}

.base-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 2px 10px;
	width: 80%;
	margin: 20px 5px 20px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.base-idea-inside {
	display: flex;
	flex-direction: column;
}

.base-idea-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 12px 0px 0px;
}

.base-idea-info {
	font-size: 13px;
}

.branch-indicator {
	color: #EA1BB1;
	font-size: 13px;
}

.bar {
	opacity: 0.3;
	font-size: 18px;
}

.root-idea, .feed-root-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 0px 10px;
	width: 70%;
	margin: 5px 5px 15px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.side-feed-root, .feed-branch-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background: white;
	padding: 5px 10px 5px 10px;
	margin: 5px 0px 15px 0px;
	color: #1A9407;
	border-radius: 1px;
}

#sidebar-votes .root-idea {
	width: 260px;
}

.root-top, .branch-top {
	font-size: 15px;
}

.root-bottom, .branch-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 95%;
}

.branch-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 0px 10px;
	width: 70%;
	margin: 10px 5px 10px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.branch-bottom-left {
	font-size: 13px;
}

.user-page-votes, #sidebar-votes {
	display: flex;
	flex-direction: column;
	font-size: 13px;
}

#sidebar-votes .root-bottom-left, #sidebar-votes .branch-bottom-left {
	font-size: 11px;
}

/* error messages */

.alert {
	margin-top: 10px;
}

.alert-danger {
	color: red;
}

.alert-success, .alert-info {
	color: green;
}

.alert-warning {
	color: orange;
}

/* ghost */
/* * {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
} */
/*
 * CSS File of Material icons.
 * CSS code based on:
 * https://google.github.io/material-design-icons/#icon-font-for-the-web
 */






/* Use the font */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/MaterialIcons-Regular-8c998b4a9c0acbb9fe5dd572c206a5a33fdd5ca2b58db87fc3b893beac85068d.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/assets/MaterialIcons-Regular-a87d66c91b2e7dc5530aef76c03bd6a3d25ea5826110bf4803b561b811cc8726.woff2') format('woff2'),
       url('/assets/MaterialIcons-Regular-c4a1baec300d09e03a8380b85918267ee80faae8e00c6c56b48e2e74b1d9b38d.woff') format('woff'),
       url('/assets/MaterialIcons-Regular-b7f4a3ab562048f28dd1fa691601bc43363a61d0f876d16d8316c52e4f32d696.ttf') format('truetype');
}

/* Base class */
.material-icons,
.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18, .mi.md-18 { font-size: 18px; }
.material-icons.md-24, .mi.md-24 { font-size: 24px; }
.material-icons.md-36, .mi.md-36 { font-size: 36px; }
.material-icons.md-48, .mi.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark, .mi.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive, .mi.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light, .mi.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive, .mi.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules to rotate items */
.material-icons.r90, .mi.r90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.material-icons.r180, .mi.r180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.material-icons.r270, .mi.r270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.material-icons.flip-horizontal, .mi.flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.material-icons.flip-vertical, .mi.flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
