<h2>Ideas</h2>
<p><%= render 'ideas/idea_form' %></p>
<div id="idea_sort_buttons">
	Sort by:
	<%= button_to "Top", sort_ideas_path, params: {sort_style: :votes_count}, 
		:disabled => idea_sort_style == "votes_count", remote: true %>
	<%= button_to "New", sort_ideas_path, params: {sort_style: :created_at}, 
		:disabled => idea_sort_style == "created_at", remote: true %>
</div>
<div id="idea_feed">
	<%= render 'ideas/idea_feed' %>
</div>