<% @user ||= current_user %>
<div class="stats">
  <p><strong id="communitycount" class="stat">
    <%= @user.communities.count %>
  </strong>
  communities</p>
  <p><strong id="ideacount" class="stat">
    <%= @user.ideas.count %>
  </strong>
  ideas submitted</p>
  <p><strong id="user_vote_count" class="stat">
    <%= current_community ? @user.votes.where(community_id: current_community.id).count : 0 %>
  </strong>
  votes in <%= current_community.name %></p>
</div>