<% @user ||= current_user %>
<div class="stats">
  <strong id="communitycount" class="stat">
    <%= @user.communities.count %>
  </strong>
  communities
  <strong id="ideacount" class="stat">
    <%= @user.ideas.count %>
  </strong>
  ideas submitted
</div>