<% @user ||= current_user %>
<div class="stats">
  <strong id="communitycount" class="stat">
    <%= @user.communities.count %>
  </strong>
  communities
  <strong id="ideacount" class="stat">
    <%= @user.ideas.count %>
  </strong>
  ideas submitted
  <strong id="user_vote_count" class="stat">
    <%= current_community ? @user.votes.where(community_id: current_community.id).count : 0 %>
  </strong>
  votes in current community
</div>