<% @user ||= current_user %>
<div class="stats">
  <strong id="communitycount" class="stat">
    <%= @user.communities.count %>
  </strong>
  communities
  <strong id="ideacount" class="stat">
    <%= @user.ideas.count %>
  </strong>
  ideas submitted
  <strong id="votecount" class="stat">
    <%= @user.votes.where(community_id: current_community.id).count %>
  </strong>
  votes in current community
</div>