<% @user ||= current_user %>
<div class="stats">
  <p><strong id="communitycount" class="stat">
    <%= @user.communities.count %>
  </strong>
  communities</p>
  <p><strong id="ideacount" class="stat">
    <%= @user.ideas.count %>
  </strong>
  ideas submitted</p>
  <p class="stat">
    <% if current_community %>
      <strong id="user_vote_count"><%= @user.votes.where(community_id: current_community.id).count %></strong> votes in <%= current_community.name %>
    <% else %>
    <% end %>
  </p>
</div>