<div><h1><%= link_to "#{current_user.name}", current_user %></h1></div>
<div id="user_stats">
	<%= render 'shared/stats' %>
</div>
<div id="sidebar-votes">
	<%= render 'users/home_vote_feed', user: @user %>
</div>