<div>
	<%= session[:emails_to_invite] %>

	<%= form_for @invitation, url: send_invites_path(@community), html: { class: "send_invitations", remote: true } do |f| %>
		<%= f.hidden_field :community_id, value: @community.id, name: "invitations[community_id]" %>

		<%= f.submit "Send invites", data: { confirm: "Are you sure?" } %>
	<% end %>
</div>