/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* universal */

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica', sans-serif;
}

header {
	display: flex;
	flex-direction: row;
	background: yellow;
}

.main {
	display: flex;
	flex-direction: row;
	background: gray;
	height: 100%;
}

.sidebar {
	background: pink;
	width: 20%;
}

.feed{
	background: blue;
	width: 100%;
}

.logo {
	background: grey;
	width: 20%;
}

.top-nav {
	background: red;
}

.community-select-button {
	float: left;
	width: auto;
}