/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require material_icons
 */

/* universal */

html, body {
	height: 100%;
	background: #D4EAD1;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Helvetica', sans-serif;
	margin: 0px;
}

header {
	display: flex;
	flex-direction: row;
	background: #5AD048;
	z-index: 1;
	height: 50px;
	color: white;
}

.main {
	display: flex;
	flex-direction: row;
	background: #D4EAD1;
	position: absolute;
	width: 100%;
	min-height: 100%;
	padding-top: 50px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: left;
	background: #D4EAD1;
	width: 400px;
	padding: 0px 10px 0px 15px;
}

.feed {
	background: #D4EAD1;
	width: 100%;
	padding-left: 25px;
	border-left: 3px solid white;
}

.community_feed {
	width: 100%;
	height: 100%;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 430px;
	margin-left: 15px;
}

.top-nav {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	width: 100%;
	padding-left: 15px;
}

.user-page, 
.community-page, 
.user-ideas-page, 
.community-admin-page,
.forgot_password,
.reset_password {
	margin-left: 20px;
}

.user-ideas-feed {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.user-ideas-feed > div {
	padding-right: 20px;
}

a {
	color: #EA1BB1;
    text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

/* forms */

form {
	display: flex;
	flex-direction: column;
}

textarea {
	font-family: Helvetica;
	font-size: 15px;
	width: 60%;
	height: 60px;
	padding: 2px 18px 2px 2px;
}

textarea#branch_idea_content {
	margin-top: 20px;
}

.idea-form {
	margin-bottom: 20px;
}

.new_user        > input, 
.new_community   > input,
.new_session     > input,
.edit_user       > input,
.new_membership  > input,
.edit_membership > input,
.new_invitations > input,
.new_reset       > input {
	width: 40%;
	margin: 10px 0px 10px 0px;
}

.new_community   > textarea,
.new_invitations > textarea {
	width: 40%;
	height: 100px;
}

.new_user > input[type=submit] {
	width: 160px;
}

.new_community > input[type=submit] {
	width: 180px;
}

.new_session > input[type=submit] {
	width: 100px;
}

.new_user,
.new_community,
.new_session {
	margin-left: 20px
}

.user-info input[type=submit] {
	width: 220px;
}

.new_invitations > input[type=submit] {
	width: 80px;
}

.new_reset > input[type=submit] {
	width: 80px;
}

.new_reset > input[type=email] {
	width: 220px;
}

label[for="community_membership_setting"] {
	margin-top: 10px;
}

input[type=radio] {
	width   : 28px;
 	margin  : 0;
 	padding : 0;
	opacity : 0;
}

input[type=submit] {
	cursor: pointer;
}

/* buttons */

.community-select-button-div {
	float: left;
	width: auto;
	margin: 0px 5px 0px 5px;
}

input {
	font-family: 'Helvetica', sans-serif;
	font-size: 15px;
	background-color: white;
	border: none;
	padding: 5px 10px 5px 10px;
	color: #1A9407;
}

.new_idea > input, .new_branch_idea > input {
	margin-top: 10px;
	width: 50px;
	color: #1A9407;
}

.edit_membership > input, .new_membership > input {
	width: 80px;
}

.community-select-button input {
	color: #1A9407;
	height: 34px;
}

.vote-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.branch-bottom > .vote-button, .root-bottom > .vote-button {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 80px;
}

.vote-count {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 140px;
	margin: 0px;
}

.vote-button button {
	background: none;
	width: 36px;
	height: 36px;
	border: 0px solid black;
	outline: 0px solid;
	border-radius: 15px;
	cursor: pointer;
}

p.vote-count {
	margin-left: 10px;
}

.sort-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.sort-branch-buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.sort-button {
	float: left;
	width: auto;
	padding: 0px 5px 0px 5px;
}

.sort-button input {
	color: #1A9407;
}

input.disabled, input[disabled] {
	color: black;
	outline: 2px solid black;
}

input#user_old_password {
	width: 200px;
}

/* icons */

.material-icons {
	color: #1A9407;
}

/* footer */

footer {

}

/* ideas */

.branches {
	margin-left: 50px;
	font-size: 13px;
}

.voted-for {
	box-shadow: 0px 0px 0px 4px #5AD048;
}

.base-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 2px 10px;
	width: 60%;
	margin: 20px 5px 20px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.base-idea-inside {
	display: flex;
	flex-direction: column;
}

.base-idea-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0px 12px 0px 0px;
}

.base-idea-info {
	font-size: 13px;
}

.root-idea, .feed-root-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 0px 10px;
	width: 60%;
	margin: 5px 5px 15px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.side-feed-root, .feed-branch-idea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: white;
	padding: 5px 10px 5px 10px;
	width: 260px;
	margin: 5px 5px 15px 0px;
	color: #1A9407;
	border-radius: 1px;
}

#sidebar-votes .root-idea {
	width: 260px;
}

.root-top, .branch-top {
	font-size: 15px;
}

.root-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.branch-idea {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: white;
	padding: 10px 10px 0px 10px;
	width: 60%;
	margin: 10px 5px 10px 0px;
	color: #1A9407;
	border-radius: 1px;
}

.branch-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.branch-bottom-left {
	font-size: 13px;
}

.user-page-votes, #sidebar-votes {
	display: flex;
	flex-direction: column;
	font-size: 13px;
}

#sidebar-votes .root-bottom-left, #sidebar-votes .branch-bottom-left {
	font-size: 11px;
}

/* error messages */

.alert {
	margin-top: 10px;
}

.alert-danger {
	color: red;
}

.alert-success, .alert-info {
	color: green;
}

.alert-warning {
	color: orange;
}