// Place all the styles related to the Communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= depend_on_asset "ic_radio_button_unchecked_black_24dp_1x.png"
//= depend_on_asset "ic_radio_button_checked_black_24dp_1x.png"

.community-index {
	margin-left: 20px;
}

input[type=radio]:not(old) + label {
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('/assets/ic_radio_button_unchecked_black_24dp_1x.png') no-repeat 0 0;
  line-height  : 24px;
}

input[type=radio]:not(old):checked + label {
	background   : url('/assets/ic_radio_button_checked_black_24dp_1x.png') no-repeat 0 0;
}