<div id="joinleave_form">
    <% if current_community.users.include?(current_user) %>
    	<%= render 'leave' %>
    <% else %>
        <% if current_community.membership_setting == "closed" %>
			<%= render 'join' %> CLOSED
    	<% else %>
    		<%= render 'join' %>
    	<% end %>
    <% end %>
</div>