<div id="joinleave_form">
    <% if current_community.users.include?(current_user) %>
    	<%= render 'communities/leave' %>
    <% else %>
        <% if current_community.membership_setting == "closed" %>
        	<%= render 'communities/join_closed' %>
    	<% else %>
    		<%= render 'communities/join' %>
    	<% end %>
    <% end %>
</div>