<div class="community-user-list">

	<p><%= link_to "Home", root_path %></p>
	<p><%= link_to "Community page for #{@community.name}", community_path(@community) %></p>

	<p>
		<h2>Members</h2>
		Total members: <%= @community.users.count %>
		<%= render 'users/user_list', users: @users, community: @community %>
	</p>

</div>